    <!-- bootstrap time picker -->
    <link href="/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>
    <!-- daterange picker -->
    <link href="/assets/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/chosen/chosen.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/lib/angular-block-ui/dist/angular-block-ui.min.css" rel="stylesheet" type="text/css" />
<!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

       

    <header  class="main-header" ng-include="'/assets/javascripts/home/header.html'" ></header>


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Tabela de Usuários
            <small>Usuáiros do facebook</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/#/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/">Tabela de usuários</a></li>
            <li class="active">User</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content"  ng-init="getUser()">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <img ng-src="http://graph.facebook.com/{{user.id}}/picture?type=square" alt="profile"/>
                  <a ng-href="http://facebook.com/{{user.id}}">
                    <h3 class="box-title" ng-bind="user.name"></h3>
                  </a>
                  <br/>
                </div><!-- /.box-header -->
                <h1>Informações de uso:</h1>

                <div class="box-body">
                  <ul class="timeline">
                     <li class="time-label">
                          <span class="bg-red">
                              Pages {{user.pagesCount}}
                          </span> 
                      </li>
                    <li ng-repeat="page in user.pages">
                        <!-- timeline icon -->
                        <i class="fa fa-group  bg-purple"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">
                              <a ng-href="http://facebook.com/{{page.id}}" target="_blank">{{page.title}}</a>
                            </h3>
                            <div class='timeline-footer'>
                                <a ng-href="http://facebook.com/{{page.id}}" target="_blank">http://facebook.com/{{page.id}}</a>
                            </div>
                        </div>
                        <br/>
                    </li>
                  </ul>
                  <br/>
                  <div class="col-xs-6">
                      <ul class="timeline">
                          <!-- timeline time label -->
                          <li class="time-label">
                              <span class="bg-red">
                                  Comments {{user.commentsCount}}
                              </span> 
                          </li>
                          <!-- /.timeline-label -->

                          <!-- timeline item -->
                          <li ng-repeat="comment in user.comments">
                              <!-- timeline icon -->
                              <i class="fa fa-comments-o bg-yellow"></i>
                              <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> {{comment.createdDate| date:'dd/MM/yyyy HH:mm:ss Z'}}</span>

                                 
                                  <h3 class="timeline-header"><a ng-href="http://facebook.com/{{comment.postId}}" target="_blank">Link Commentario</a> ...</h3>

                                  <div class="timeline-body">
                                  <a class="btn btn-primary btn-xs" ng-href="http://facebook.com/{{comment.postId}}">Likes:{{comment.likeCount}}</a>
                                      {{comment.message}}
                                  </div>

                                  <div class='timeline-footer'>
                                  Página:  
                                      <a class="btn btn-primary btn-xs" ng-href="http://facebook.com/{{comment.pageId}}">{{comment.pageId}}</a>
                                  </div>
                              </div>
                          </li>
                          <!-- END timeline item -->

                          ...
                      </ul>
                  </div><!-- /.col-xs-6-->
                  <div class="col-xs-6">
                      <ul class="timeline">
                          <!-- timeline time label -->
                          <li class="time-label">
                              <span class="bg-red">
                                  Likes {{user.likesCount}}
                              </span>
                          </li>
                          <!-- /.timeline-label -->

                          <!-- timeline item -->
                          <li ng-repeat="like in user.likes">
                              <!-- timeline icon -->
                              <i class="fa  fa-thumbs-o-up bg-blue"></i>
                              <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> {{like.createdDate| date:'dd/MM/yyyy HH:mm:ss Z'}}</span>

                                  <h3 class="timeline-header"><a ng-href="http://facebook.com/{{like.postId}}" target="_blank">Link Post</a> ...</h3>

                                  <div class="timeline-body">
                                   <a ng-href="http://facebook.com/{{like.postId}}" target="_blank">http://facebook.com/{{like.postId}}</a>
                                  </div>

                                  <div class='timeline-footer'>
                                  Página:
                                      <a class="btn bg-maroon btn-xs" ng-href="http://facebook.com/{{like.postId}}">{{like.pageId}}</a>
                                  </div>
                              </div>
                          </li>
                          <!-- END timeline item -->

                          ...
                      </ul>
                  </div><!-- /.col-xs-6-->
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>